@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<body>
    <p>Thank you for confirming your email! <a asp-controller="Applications" asp-action="Create">Would you like to create an application?</a></p>
</body>