@{
    ViewBag.Title = "Error";
}

<div style="height: 10px;">
</div>
<div style="height: 170px;">
    <div style=" padding:20px;">
        <h3>
            Application Error:
        </h3>
        <h4>
            Sorry, an error occurred while processing your request. Return back to the <a asp-area="" asp-controller="Home" asp-action="Index">home</a> page.
        </h4>
    </div>
</div>