#home-bars text {
    font-weight: bold;
}

#away-bars text {
    font-weight: bold;
}

.comment_container {
    display: none;
    position: relative;
}

.comment_container.opened {
    display: block;
}

.comment_container::before {
    content: "";
    background-color: black;
    position: absolute;
    min-height: 100%;
    width: 1px;
    left: -10px
}

.comment_container:not(:first-child) {
    margin-left: 3rem;
    margin-top: 1rem;
}

.comment_card {
    padding: 20px;
    background-color: #E6E6E6;
    border: 1px solid black;
    border-radius: .5rem;
    min-width: 100%;
}

.comment_cart h3, 
.comment_card p {
    margin-bottom: 1rem;
}

.comment_card_footer {
    display: flex;
    font-size: .85rem;
    opacity: .75;
    gap: 30px;
    justify-content: flex-end;
    align-items:center;
}

.pntr,
.thumbs_up,
.thumbs_down {
    cursor: pointer;
}

.reply_card {
    margin-top: 1rem;
    padding: 20px;
    background-color: #E6E6E6;
    border: 1px solid black;
    border-radius: .5rem;
    min-width: 100%;
}

.reply_text_area {
    min-width: 100%;
    height: 100px;
}

.reply_card_footer {
    display: flex;
    font-size: .85rem;
    gap: 30px;
    justify-content: flex-end;
    align-items: center;
}

.likesdislikes {
    display: flex;
    font-size: 2rem;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
}

.liked {
    color: #29C144 !important;
}

.disliked {
    color: #D12228 !important;
}