@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container col-md-6">
    <br />
    <h1>Privacy Policy</h1>
    <br />
    <div class="container col-md-6">
        <h3>Privacy Policy</h3>
        <br />
        <p>
            The privacy of our users is very important to us. Therefore, we want clearly state that the only data we collect from you is the data you provide us during registration.
            We do not collect or store any other data while using our website, and the registration data is never used or stored outside of login.
        </p>

        <br />
        
        <h3>Cookies</h3>
        <br />
        <p>
            Cookies are digital signitures that are stored by your web browser that allows remembering your preferences while browsing a website. StatisGoat uses cookies only to remember you when
            returning to our site to prevent the need to re-login. We do not collect any personal data, share any personal data, or store any personal data from you using these cookies.
        </p>
    </div>
</div>